.Avatar {
   height: 64px;
   width: 64px;
   border-radius: 50%;
}


.Blog{
 background-color: #f3f3f3;
 margin-bottom: 20px;
box-shadow: 1px 1px #7f8288;
}
.avatarMargin{
  padding-top: 10px;
  justify-content: center;
  width: 100px;
}

.UserInfo{
 justify-content: center;
  height: 70px;
}

.Post {
  padding-bottom: 30px;
  padding-right: 20px;
}

.Blog-date {
  font-size: 4px;
  flex-grow: 1;
}


.Blog-text {
  display: flex;
  flex-direction: row;
}


.Blog-details {
  background-color: #333;
  border-top: 3px solid #333;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aaa;
  background: #f9f9f9;
  .menu a {
    color: #aaa;
  }
}
