.contactImage {
   height: 150px;
   width: 150px
}

.Contact {
  height: 200px;
  margin: 15px;
  border: 1px black;
  box-shadow: 1px 1px #7f8288;
}

.contactText {
  font-size: 13px;
  flex-grow: 1;
}


.FlexRow {
  display: flex;
  flex-direction: row;
}
