.contactList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow:scroll;
    height: 100%; /*what*/
    width: 90vw;
}

.taskinput {
  background-color: white;
  padding: 4px;
  border: 1px black solid;
  font-size: 12px;
  width: 20vw;
  box-sizing: border-box;
}

.searchbtn{
  height: 3.7vh;
  font-size: 15px;
  background-color: #FF4747;
  color: white;
  font-family: Ledger;
  box-sizing: border-box;
  width: 18vw;
  margin-left: 25px;
}

.searchbtn:focus {
  outline: none;
  /* background-color: #FF6F00 !important; */
}

.taskinput:focus {
  outline: none;
  /* background-color: #E64A19 !important; */
}

.search{
 height: 8vh;
 background-color: #FCF9F9;
 box-shadow: 0.5px 5px 5px #e8e8e8;
 z-index: 2;
}
