#edit_post_bar{
    justify-content: flex-end;
}

.updatePost{
 width: 80%;
 margin: 10px;
}

.postTextArea{
    width: 100%;
    -ms-flex-positive: 1;
    font-size: 14px;
    border: none;
    border-radius: 2%;
    font-weight: 100;
}

.avatar_div{
  margin-top: 15px;
}


.donationArea{
    font-size: 12px;
    height: 34px;
    border: none;
    margin: 3px 0px;
    padding: 10px 6px;
    border-radius: 4.5%;
}

.update_Avatar {
   height: 25px;
   width: 25px;
   border-radius: 0.5;
   border-radius: 50%;
}

.feedBar{
 height: 40px;
 width: 100%;
 background-color: #ffffffa6;
 z-index: 2;
 justify-content: flex-end;
}

.updateBar{
 width: 100%;
 background-color: #e6e6e6;
 z-index: 1;
 justify-content: center;
 align-items: normal;
}

.addQbtn{
  height: 100%;
  font-size: 13px;
  background-color: #FF4747;
  color: white;
  font-family: Ledger;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  margin-right: 20px;
}

.feed{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;

    overflow-y: scroll;
    height: 515px;

}

.selectFeed{
  width: 25%;
  margin-right: 30px;
}


.postSelection{
    width: 25%;
    font-size: 12px;
    padding: 3px;
}


.height-controller{
    max-height: 600px;
    overflow-y: scroll;
}

.submitBut{
    padding: 7px 6px;
    background-color: #5492ef;
    color: white;
    border-radius: 5.5%;
}
