.Contact {
    max-height: 200px;
    margin: 28px;
    border: 1px black;
    box-shadow: 1px 1px #7f8288;
    background-color: white;
    padding: 0px 20px;
}

.title {
    color: grey;
    font-size: 18px;
}

.contactButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #5492ef;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.contactImage {
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}

/* .Contact {
  height: 200px;
  margin: 15px;
  box-shadow: 1000px 1px #7f8288;
} */

.contactText {
  font-size: 13px;
  flex-grow: 1;
}

.contactInfo {
  padding-top: 5px;
  font-size: 13px;
  flex-grow: 1;
  color: grey;
}

