
.Avatar {
   height: 64px;
   width: 64px;
   border-radius: 0.5;
   border-radius: 50%;
}
.UserInfo{
}


.fullname{
   color: #14171a;
   font-size: 13px;
   font-weight: bold;
   font-family: sans-serif;
}

.titlePost{
    font-size: 12px;
    color: grey;
}

.seperator{
  margin-left: 3px;
  margin-right: 3px;
}

.Main_post{
 background-color: white;
 margin-bottom: 2px;
 font-family: Ledger;
 width: 95%;
 font-size: 12px;
}
.avatarMargin{
  padding-top: 25px;
  justify-content: center;
  width: 100px;
}


.UserInfo{
  justify-content: center;
  padding-top: 25px;
  font-size: 18px;
}


.Post {
  padding-bottom: 30px;
  padding-right: 20px;
  overflow: scroll;
}

.Post_flexCol{
  width: 75%;
  display:inline-block;
}


.donateButton{
  padding: 5px;
  font-size: 15px;
  background-color: #5492ef;
  color: white;
  font-family: Ledger;
  margin-right: 20px;

}

.donationBar{
  margin-bottom: 20px;
}
