
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.fullpage {
  height: 100vh;
  width: 100vw;
}


.justifyRow{
  justify-content: center;
  align-items: center;
}


.hidden {
  display: none;
}
