.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.ContactList {
   flex-grow: 4;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}


.FlexRow {
  display: flex;
  flex-direction: row;
}


.navigation-bar{
  background-color: black;
  flex-grow: 1;
}

.top-bar{

}


.bottom-half{
  height: 100vh;
}
